* {
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
}
body{
    margin: 0;
}

/* HEADER */

.header {
    background-image: url(../assets/img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -500px;
}

/* HEADER-NAVBAR */

.header-navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(42, 43, 53);
    align-items: center;
    color: #ffffff;
}
.d-flex {
    display: flex;
    align-items: center;
}
.header-navbar_link li {
    list-style-type: none;
    display: inline;
}
.navbar-link_item {
    padding: 23px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    height: 70px;
}
.navbar-link_item:hover {
    animation: 0.75s headerLink infinite;
} 
@keyframes headerLink{
    from {
        color: white;
    }
    50% {
        color: rgb(230, 89, 8);
        background-color: rgb(36, 36, 37);
        -webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.75);
    }
    to {
        color: white;

    }
}
.header-navbar a {
    color: #ffffff;
}
.navbar-label {
    background-color: rgb(36, 36, 37);
    padding: 19px 21px 17px 21px;
}
.header-navbar_search {
    background-color: rgb(36, 36, 37);
    padding: 23px;
}
.navbar-name {
    font-size: 22px;
    font-weight: 800;
    margin-left: 6px;
}

/* HEADER-SUBSCRIBE */

.header-subscribe {
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subscribe-text {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 400;
    color: white;
    margin-top: 0;
    margin-bottom: 64px;
}
.header-subscribe a{
    color: white;
    font-weight: 600;
    margin: 20px;
}
.header-subscribe a:hover {
    -webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.75);
}
.subscribe-button:hover{
    animation: 2s subscribe infinite;
}
.subscribe-button {
    padding: 21px;
    background-color: rgb(120, 228, 120);
    border-radius: 7px;
}
@keyframes subscribe{
    from {   
        background-color: rgb(120, 228, 120);
        color: white;
    }
    20% {   
        background-color: rgb(255, 255, 255);
        color: rgb(34, 228, 34);

    }
    40% {   
        background-color: rgb(34, 228, 34);
        color: white;
    }
    60% {   
        background-color: rgb(255, 255, 255);
        color: rgb(34, 228, 34);
    }
    to {
        background-color: rgb(34, 228, 34);

    }
}
.subscribe-articles:hover{
    animation: 2s articles infinite;
}
.subscribe-articles {
    padding: 20px 32px;
    background-color: rgb(68, 205, 230);
    border-radius: 7px;
}
@keyframes articles{
    from {   
        background-color: rgb(68, 205, 230);
        color: white;
    }
    20% {   
        background-color: rgb(255, 255, 255);
        color: rgb(33, 181, 207);

    }
    40% {   
        background-color: rgb(23, 180, 241);
        color: white;
    }
    60% {   
        background-color: rgb(255, 255, 255);
        color: rgb(33, 181, 207);
    }
    to {
        background-color: rgb(23, 180, 241);
    }
}


/* HEADER POPULAR POST */

.header-popular_posts {
    background-color: rgb(233, 233, 233);
    padding-top: 60px;
}
.popular_posts-text{
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 52px;
}
.popular_posts-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 970px;
    width: 1170px;
    margin: 0 auto;
}
.header-popular_posts ul{
    padding: 0;
}
.header-popular_posts li {
    list-style-type: none;
    background-color: white;

}
.popular_posts-link-item {
    text-decoration: none;
    color: #353a3d;
    display: block;
    padding-bottom: 22px;
}
.popular_posts-link-item:hover{
    color: coral;
}
.popular_posts-name {
    margin: 20px 0 0 0;
}
.popular_posts-link {
    text-align: center;
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
    width: 370px;
    margin-bottom: 32px;
}

/* CONTENT */

.content {
    background-image: url(../assets/img/parallax-bg.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.content_first {
    height: 590px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.content_header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 65px);
    grid-template-areas:
    "item-main item-main item-main item-main"
    "item-line item-line item-line item-line"
    "item-link item-link item-link item-link"
    ;
    text-align: center;
    justify-content: center;
    width: 881px;
    height: 193px;
    align-content: center;
}
.content_header-main {
    grid-area: item-main;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
} 
.blue-line {
    grid-area: item-line;
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    margin: 0 auto;
    align-self: center;
}
.content_header-link {
    height: 52px;
}
.item1 {
    margin-top: 8px;
}

/* CONTENT MAIN */

.content_main {
    background-color: white;
    padding-top: 63px;
    padding-bottom: 71px;
}
.content_main-header, .content_main-header-second {
    color: #18b4cf;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
.content_main-header-image-scroll {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-bottom: 60px;
    margin-top: 52px;
}

.content_main-image-choice {
    background-repeat: no-repeat;
}
.content_main-header-image-scroll img {
    width: 100%;
}
/* CONTENT MAIN HOT NEWS */

.content_main-hot-news {
    width: 1170px;
    margin: 0 auto;
    margin-top: 52px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "news-item1 news-item1 news-item1 news-item2"
        "news-item3 news-item3 news-item4 news-item4"
        "news-item5 news-item5 news-item6 news-item6"
        "news-item7 news-item8 news-item8 news-item8"
    ;
}
.hot-news_item {
    background-color: #f9f7f7;
}
.news-item1 {
    grid-area: news-item1;
    margin: 0 35px 42px 0;
}
.news-item2 {
    grid-area: news-item2;
    margin: 0 0px 42px 0;
}
.news-item3 {
    grid-area: news-item3;
    margin: 0 60px 43px 0;
    padding-bottom: 21px;
}
.news-item4 {
    grid-area: news-item4;
    margin: 0 0 43px 0;
    padding-bottom: 21px;
}
.news-item5 {
    grid-area: news-item5;
    margin: 0 60px 0 0;
    padding-bottom: 18px;
}
.news-item6 {
    grid-area: news-item6;
    padding-bottom: 18px;
}
.news-item7 {
    grid-area: news-item7;
    margin: 44px 35px 0 0;

}
.news-item8 {
    grid-area: news-item8;
    margin: 43px 0 0 0;
}
.content_main-hot-news h2, .content_main-hot-news h3, .content_main-hot-news h4 {
    color: #353a3d;
    font-size: 18px;
    font-weight: 700;
}
.content_main-hot-news h3 {
    margin-top: 20px;
    margin-bottom: 22px;
}
.content_main-hot-news h2 {
    text-align: center;
    margin-top: 6px;
}
.content_main-hot-news h3, .hot-news_item-text {
    text-align: right;
    padding-right: 27px;
    padding-left: 22px;
}
.content_main-hot-news h4 {
    text-align: right;
}
.hot-news_item-text {
    color: #5b6469;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}
.news-item8, .news-item1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding: 0;
}
.news_item-text-orientation-right {
    padding-left: 22px;
    padding-right: 24px;

}
.item-header-right {
    padding-top: 41px;
    margin-bottom: 22px;
    text-align: right;
}
.item-text-right {
    padding: 0;
}

/* FOOTER */

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    grid-gap: 60px;
    height: 80px;
    background-color: rgb(42, 43, 53);
    align-content: center;
}
.footer-block_text {
    text-align: right;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;

}
.footer-block_icon {
    text-align: center;
}