* {
    text-decoration: none;
}

body {
    background: url(../image/background1.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    color: rgba(240, 205, 8, 0.89);
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    perspective: 20px;
    width: 100%;
    /* height: 100%; */
    margin: 0;
    letter-spacing: 5px;
}

.star {
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 50%;
}
.star1, .star4{
    animation: 30s starleft cubic-bezier(.4,.1,1,.7) infinite;
}
.star3, .star5, .star2 {
    animation: 30s startop infinite;
}
.star7, .star9 {
    animation: 30s starright infinite;
}
.star6, .star8, .star10 {
    animation: 30s starbottom infinite;
}
.star1 {
    position: absolute;
    top: 300px;
    left: 26%;
}
.star2 {
    position: absolute;
    top: 200px;
    left: 30%;
}
.star3 {
    position: absolute;
    top: 150px;
    left: 15%;
}
.star4 {
    position: absolute;
    top: 500px;
    left: 30%;
}
.star5 {
    position: absolute;
    top: 100px;
    left: 36%;
}
.star6 {
    position: absolute;
    top: 300px;
    left: 66%;
}
.star7 {
    position: absolute;
    top: 200px;
    left: 60%;
}
.star8 {
    position: absolute;
    top: 380px;
    left: 70%;
}
.star9 {
    position: absolute;
    top: 200px;
    left: 80%;
}
.star10 {
    position: absolute;
    top: 450px;
    left: 90%;
}
@keyframes startop {
    from { }
    20% {opacity: 1;}
    30% { transform: translateX(-40em) translateY(-20em) skewX(60deg); opacity: 0;}
    to {opacity: 0;}
}
@keyframes starleft {
    from { }
    40% {opacity: 1;}
    50% { transform: translateX(-40em) translateY(20em) skew(60deg); opacity: 0;}
    to {opacity: 0;}

}
@keyframes starright {
    from { }
    30% {opacity: 1;}
    40% { transform: translateX(50em) translateY(-50em) skew(60deg); opacity: 0;}
    to {opacity: 0;}

}
@keyframes starbottom {
    from { }
    10% {opacity: 1;}
    60% { transform: translateX(40em) translateY(20em) skew(60deg); opacity: 0;}
    to {opacity: 0;}

}


.way {
    position: absolute;
    width: 100%;
    transform:
    rotateX(15deg) rotateY(0deg) rotateZ(0deg);
    height: 60em;
    margin-top: 500px;
}
.content {
    height: 50%;
    position: absolute;
    transform:translateY(100%);
    animation: 30s infinite starwars linear;
}
.content:hover {
    animation-play-state: paused;
}
@keyframes starwars {
    from {transform: translateY(100%);}
    90% {opacity: 1;}
    to {transform: translateY(-180%); opacity: 0.1; }
}
.header {
    font-size: 250%;
}
.name {
    font-size: 220%;
}
.header, .name {
    text-align: center;
}
.text {
    text-align: justify;
    font-size: 190%;
    font-weight: bolder;
}







