* {
    text-decoration: none;
}

body {
    margin: 0;
    position: relative;
    font-family: Arimo, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../image/background.png);
}

/* HEADER */

.header {
    width: 100%;
    height: 38px;
    padding-top: 18px;
    background-color: rgba(0, 0, 0, 0.41);
}
.header_journey {
    float: left;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-left: 81px;
    text-transform: uppercase;
}
.header_journey:hover {
    color: #3cb878;
}
.header_login {
    color: #ffffff;
    font-weight: 600;
}
.header_icons, .header_login, .header_line {
    float: right;
}
.header_login {
    margin-right: 75px;
}
.header_line {
    width: 1px;
    height: 19px;
    opacity: 0.5;
    margin-right: 24px;
    background-color: white;
}
.header_icons {
    margin-right: 25px;
}
.login_green {
    color: #3cb878;
}
.icon { 
    display: inline-block; 
    background: url('../image/download.png') no-repeat;
}
.calendar { 
    width: 19px; 
    height: 19px; 
    margin-right: 28px;
    background-position: -5px -100px; 
}
.calendar:hover { 
    width: 19px; 
    height: 19px;
    background-position: -5px -124px; 
}
.forum { 
    width: 28px; 
    height: 20px; 
    margin-right: 28px;
    background-position: -5px -0px; 
}
.forum:hover { 
    width: 28px; 
    height: 20px; 
    background-position: -5px -25px; 
}
.journey { 
    width: 20px; 
    height: 20px; 
    background-position: -5px -50px; 
}
.journey:hover { 
    width: 20px; 
    height: 20px; 
    background-position: -5px -75px; 
}

/* CONTENT */

/* Выравнивание позишн */

/* .content {
    min-height: 100vh;
} */

/* Выравнивание флексами */

.content {
    min-height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* FORM */

/* Форма для позишн */

/* .form {
    width: 444px;
    padding-top: 29px;
    border-radius: 10px;
    padding-bottom: 32px;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* Форма для флексов */

.form {
    width: 444px;
    padding-top: 29px;
    border-radius: 10px;
    padding-bottom: 32px;
    background-color: aliceblue;
    position: relative;
}
.form_shape {
    top: 29px;
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #3cb878;
}
.form_block {
    width: 325px;
    margin: 0 auto;
}
.form_block-header{
    width: 100%;
    overflow: hidden;
}
.block-header_sign {
    float: left;
    color: #434343;
    font-size: 20px;

}
.block-header_login {
    float: right;
    color: #3cb878;
    font-size: 14px;
    margin-top: 4px;
}
.form_block-button {
    clear: both;
    overflow: hidden;
}
.form_block-button ul>li {
    display: inline;
    text-align: center;
}
.form_block-button ul {
    padding: 0;
}
.google_button {
    float: right;
    background-color: #df4a32;
}
.facebook_button {
    background-color: #305db8;
    float: left;
}
.form_line {
    width: 1px;
    height: 28px;
    opacity: 0.2;
    display: inline-block;
    margin-top: 9px;
    margin-left: 9px;
    background-color: black;

}
.form_icon-facebook {
    width: 10px;
    height: 20px;
    display: inline-block;
    vertical-align: super;
    background-image: url(../image/icon_facebook.png);
}
.form_icon-google{
    width: 25px;
    height: 16px;
    display: inline-block;
    vertical-align: super;
    background-image: url(../image/icon_google.png);
}
.facebook_button-text {
    margin-left: 18px;
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;
}
.google_button-text {
    margin-left: 24px;
    display: inline-block;
    vertical-align: top;
    margin-top: 14px;

}
.google_button, .facebook_button {
    color: white;
    width: 157px;
    height: 31px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 33px;
    border-radius: 5px;
    padding-bottom: 15px;
}
.form_block-or {
    clear: both;
    color: #848484;
    font-size: 14px;
    text-align: center;
    margin-bottom: 18px;
}
.google_button:hover, .facebook_button:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.596);
}

/* LABEL */

.form_label {
    color: black;
    width: 322px;
    height: 46px;
    border: 1px solid rgba(214, 212, 212, 0.842);
    font-size: 14px;
    text-indent: 19px;
    border-radius: 5px;
    margin-bottom: 9px;
}
.form_label:focus {
    opacity: 1;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.418);
    outline:none;
}
.form_label-checkbox {
    color: #434343;
    font-size: 14px;
    margin-top: 22px;
    margin-bottom: 28px;
}
.green_text {
    color: #3cb878;
}
.green_text:hover, .block-header_login:hover, .login_green:hover {
    text-decoration: underline;
}
.label_submit {
    color: white;
    width: 322px;
    height: 46px;
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 7px;
    background-color: #3cb878;

}
.label_submit:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.596);
}
input::-webkit-input-placeholder {
    color: rgba(172, 172, 172, 0.877);
} 
input::-moz-placeholder {
    color: rgba(172, 172, 172, 0.877);
} 
input:-moz-placeholder {
    opacity: 0,3;
} 
input:-ms-input-placeholder {
    opacity: 0,3;
} 

.form_label-checkbox {
    display: none;
}
.form_label-checkbox + span {
	position: relative;
    cursor: pointer;
    margin-right: 5px;
}
label span {
    height: 12px;
    width: 12px;
    border: 1px solid rgb(187, 185, 185);
    display: inline-block;
    position: absolute;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
    top: 4px;
    box-shadow: inset 0 3px 4px rgba(0,0,0,.2);
}
.form_label-checkbox:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size:23px;
    color:green;
}
.form_label-checkbox-custom {
      display: block;
      margin-top: 12px;
      margin-bottom: 28px;
}
