* {
    color: #484848;
    text-align: center;
    font-family: Arimo, serif;
    text-shadow: 1px 1px 1px #aaa;
    text-transform: uppercase;
    text-decoration: none;
}
.main {
    width: 1140px;
    height: 682px;
    padding: 23px 30px 31px 22px;
    background-image: url(../image/background.png);
}
i {
    margin-right: 1.4%;
}

/* TABLE */

table {
    width: 1140px;
    height: 682px;
    border-collapse: collapse;
    background-color: #f2f2f2;
}
th, td {
    background: linear-gradient(to left, rgba(126, 125, 125, 0.342), rgba(0, 0, 0, 0) 4px)
}
td {
    font-size: 16px;
}
.tr4, .tr6, .tr8 {
    background-color: #e3e3e3;
}
.fafafa {
    background-color: #fafafa;
}

/* TR1 */

.tr1_th1-2 {
    font-size: 30px;
}

.tr1_th {
    width: 274px;
    height: 70px;
    color: white;
    font-size: 24px;
    transition: 0.6s;
}
.tr1_th:hover {
    color: white;
    font-size: 30px;
}
.tr1_th2, .tr9_td2 {
    background-color: #89c331;
}
.tr1_th3, .tr9_td3 {
    background-color: #f04a56;
}
.tr1_th4, .tr9_td4 {
    background-color: #20807c;
}

/* TR2 */

.tr2_th1-1 {
    float: left;
    width: 98px;
    height: 50px;
    font-size: 60px;
    margin-left: 33px;
    margin-top: -11px;
}
.tr2_th1-2 {
    float: left;
    margin-left: 5px;
}
.tr2_th1-2_1 {
    float: left;
    font-size: 24px;
}
.tr2_th1-2_2 {
    clear: both;
    font-size: 18px;
    font-weight: 400;
}

/* TR9 */

.tr9_td1-background {
    background-color: #dddddd;
}
.tr9_td {
    color: white;
    padding: 19px 57px 17px 58px;
    transition: 0.8s;
    font-weight: 700;
    border-radius: 5px;
    background-image: linear-gradient(to top, rgba(56, 55, 55, 0.342), rgba(0, 0, 0, 0) 8px);
}
.tr9_td1 {
    background-color: #484848;
}
.tr9_td1:hover {
    color: #484848;
    border-radius: 4px;   
    background-color: #dddddd;
} 
.tr9_td2:hover, .tr9_td3:hover, .tr9_td4:hover {
    background-color: #eeeeee;
}
.tr9_td2:hover {
    color: #89c331;
} 
.tr9_td3:hover {
    color: #f04a56;
}
.tr9_td4:hover {
    color: #20807c;
}

