* {
    text-decoration: none;
}
.main {
    width:  1280px;
    height: 1626px;
}
.header, .content, .click, .last, .h2{
    font-weight: bold;
    font-family: "Roboto";
    letter-spacing: .1em;
}
.header {
    margin: 35px 332px 35px 371px;
    padding: 0;
    font-size: 18px;
}
.header_nav {
    padding: 0;
}
.header-link2 {
    margin-left: 65px;
}
.header-link3 {
    margin-left: 70px;
}
.header-link4 {
    margin-left: 78px;
}
.header_nav > li {
    display: inline;
}
.header-link, .header-link2, .header-link3, .header-link4 {
    color: seagreen;
}
.header-link:hover, .header-link2:hover, .header-link3:hover, .header-link4:hover {
    color: red;  
}

.logo {
    width: 1280px;
    height: 790px;
    background-image: url('../image/photo.png');

}

.backround_image {
    width: 1280px;
    height: 650px;
    background-image: url('../image/background.png');
    background-repeat: 0;
    
}

.content_header {
    color: #373737;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    padding-top: 59px;
    padding-left: 317px;
    padding-right: 342px;
    text-align: justify;
    text-align-last: justify;
    letter-spacing: 3.3px;
}
.content_header > h2 {
    margin-top: 59px;
}

.content_text {
    width: 1059px;
    height: 354px;
    margin: 34px 113px;
    text-align: center;
    color: #373737;
    line-height: 26px;
    letter-spacing: 2.4px;
}


.content_button {
    color: white;
    width: 192px;
    height: 51px;
    padding: 13px 45px;
    font-size: 12px;
    background: seagreen;
    border-radius: 10px;
    margin: 41px 561px 94px 523px ;
}

.footer_text {
    text-align: right;
    margin: 47px 104px 0px 0px;
}

