* {
    text-decoration: none;
}
.main {
    margin: 0 auto;
    max-width: 1366px;
    font-family: "Roboto";
    background-image: url(../image/background.png);
    background-repeat: no-repeat;
}

/* MAIN_CONTENT */

.main_content {
    width: 1065px;
    margin: 0 auto;
    padding-top: 49px;
    margin-right: 154px;
    padding-bottom: 20px;
}

/* HEADER */

.header {
    width: 1064px;
    height: 45px;
}
.header_logo {
    float: left;
    width: 46px;
    height: 44px;
    background-image: url(../image/logo.png);
}
.header_brand:hover .header_logo {
    background-image: url(../image/logo_hover.png);
}
.head {
    font-size: 29px;
}
.foot {
    font-size: 19px;
}
.header_text {
    margin-left: 15px;
    float: left;
}
.header_text, .contact, .text, .footer, .hidden {
    color: white;
}
.header_brand:hover .header_text, .content_block:hover .text {
    color: #f26522;
}
.contact {
    width: 243px;
    height: 37px;
    float: right;
    font-size: 18px;
    margin-top: 8px;
    text-align: right;
}
.telephone {
    margin-top: 5px;
}

/* CONTENT */

.content {
    width: 1064px;
    height: 541px;
    padding-top: 47px;
    margin-bottom: 57px;
    
}
.content_block {
    float: left;
}
.link4 {
    clear: both;
}
.link1, .link2, .link4, .link5 {
    width: 312px;   
}
.link1, .link2, .link4{
    height: 243px;
}
.link3 {
    width: 311px;
}
.link3, .link5 {
    height: 239px;
}
.link6 {
    width: 307px;
    height: 240px;
}
.link2, .link5 {
    margin-left: 65px;
}
.link3, .link6 {
    margin-left: 64px;
}
.link4, .link5, .link6 {
    margin-top: 58px;
}
.image1, .image2, .image3, .image4, .image5, .image6 {
    border: 2px solid white;
    box-shadow: 0 17px 24px #000000;
    background-color: white;
}
.image1 {
    background-image: url(../image/block1.png);
}
.image2 {
    background-image: url(../image/block2.png);
}
.image3 {
    background-image: url(../image/block3.png);
}
.image4 {
    background-image: url(../image/block4.png);
}
.image5 {
    background-image: url(../image/block5.png);
}
.image6 {
    background-image: url(../image/block6.png);
}
.image1, .image3, .image4, .image6 {
    width: 307px;
}
.image1, .image2, .image3, .image4 {
    height: 200px;
}
.image5, .image6 {
    height: 201px;
}
.image2, .image5 {
    width: 308px;
}
.text {
    text-align: center;
    transition: 0.8s;
    padding-top: 22px;
}
.hidden {
    border: 1px solid white;
    opacity: 0;
    transition: 1.5s;
    margin-top: -70px;
    padding-top: 16px;
    padding-left: 21px;
    padding-bottom: 17px;
    background-color: #f26522;
}
.link1:hover .hidden, .link2:hover .hidden, .link3:hover .hidden, .link4:hover .hidden, .link5:hover .hidden, .link6:hover .hidden {
    opacity: 1;    
}

.sp1 {
    display: block;
    font-size: 10px;
    line-height: 15px;
}
.sp2 {
    font-size: 20px;
}

.sp3 {
    font-size: 14px;
    margin-left: 126px;
    padding-top: 4px;
}
.sp3::after {
    content: " >";
}

/* FOOTER */

.footer {
    text-align: center;
}



