* {
    text-decoration: none;
}
.main {
    width: 1280px;
    height: 1190px;
    margin: 0 auto;
    margin-top: 61px;
}
.header, .navbar, .content_navbar, .footer, .content_text {
    font-family: "Ubuntu", Helvetica, sans-serif;
}

/*header*/

 .header {
    height: 74px;
    font-size: 80px; 
    margin-left: 1px;
    /* margin-top: 61px; */
}
.black_text {
    color: black;

}
.blue_text {
    color: #4bcaff;
    transition: 1.5s;

}
.header_link:hover .blue_text {
    color: crimson;
}

/*navbar links*/

.navbar {
    width: 1280px;
    height: auto;
    margin-top: 45px;
    text-align: center;
    background-color: #35444f;
}
.navbar_menu > li {
    display: inline-block;
    margin-top: 26px;
    margin-bottom: 26px;
}
.navbar_link {
    color: #ffffff;
    padding: 25px 42px;
    font-size:  24px;
    transition: 1.25s;

}
.navbar_link:hover {
    border: 1px solid white;
    padding: 24px 41px;
    background-color: #222f3a;
}

/* content */

.content > div {
    display: inline-block;
}

/* content_navbar */

.content_navbar {
    width: 344px;
    height: 399px;
    border: 1px solid #485863;
    margin-top: 51px; 
    list-style-type: none;
}
.content_link {
    color: #485863;
    width: 256px;
    height: auto;
    padding: 28.4px 44px;
    display: inline-block;
    font-size: 23px;
    transition: 1.25s;

}
.content_navbar ul>li:hover {
    background-color: #dbdbdb;
}
.content_link:hover {
    width: 342px;
    color: #000000;;
    padding-left: 70px;
}

/* content_main */

.content_main {
    width: 885px;
    height: 832px;
    margin-top: 51px;
    vertical-align: top;
    margin-left: 45px;
}

/* content_image */

.content_image {
    width: 885px;
    height: 529px;
    border: 1px solid #485863;
    position: relative;
}
.content_img {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%)
}

/* content_text */

.content_text {
    font-size: 18px;
    text-align: justify;
}
.pg1 {
    margin-top: 50px;

}
.text {
    width: 815px;
    height: 114px;
    margin-left: 30px;
}

/* footer */

.footer {
    padding: 22px 0 21px 44px;
    font-size: 28px;
    background-color: rgba(99, 105, 110, 0.48);
}
.footer_navbar > li, .footer > div {
    display: inline;
}
.footer_navbar {
    width: 809px;
    height: 26px;
    text-align: center;
    word-spacing: 5px;
}
.footer_link {
    color: black;
    transition: 0.75s;
}
.footer_link:hover {
    color: #3181a6;
    text-decoration: underline;
}
.footer_copyright {
    float: right;
    margin-right: 34px;
}












